<div class="selecter" selecter>
    <div class="selection">
        <div class="selection-item" selection-item>

        </div>
        <div class="selection-action">
            <div class="arrow">
                &#10148;
            </div>
        </div>
    </div>
    <div class="dropdown" dropdown>
        <ul class="dropdown-item-container">
            <li class="dropdown-item" dropdown-item>Item 1</li>
            <li class="dropdown-item" dropdown-item>Item 2</li>
            <li class="dropdown-item" dropdown-item>Item 3</li>
        </ul>
    </div>
</div>
