<div class="dropdown" dropdown>
    <div dropdown-selection></div>
    <div class="dropdown-item-container" dropdown-item-container>
        <ul class="dropdown-items">
            <li class="dropdown-item" dropdown-item>Item 1</li>
            <li class="dropdown-item" dropdown-item>Item 2</li>
            <li class="dropdown-item" dropdown-item>Item 3</li>
        </ul>
    </div>
</div>

<style>
    :host {
        --dropdown-background: white;
        --dropdown-color: blue;
        --dropdown-radius: 5px;
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .dropdown {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        position: relative;
        border: 1px solid var(--dropdown-color);
        border-radius: var(--dropdown-radius);
        width: 200px;
        height: 30px;
        text-align: end;

        cursor: pointer;
    }
    
    .dropdown-item-container {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        border: 1px solid var(--dropdown-color);
        padding: 10px;
        box-sizing: border-box;
        border-radius: var(--dropdown-radius);
        background-color: var(--dropdown-background);
    }
    
    .dropdown-item-container.active {
        display: block;
    }
    
    .dropdown-items {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .dropdown-item {
        width: 100%;
        text-align: center;
    }
    
    .dropdown-item:hover {
        border-radius: 5px;
        background-color: cadetblue;
    }
</style>